<div class="container" id="contact">
  <div class="wrap">
    <div class="title">
      <h3>Let's talk!</h3>
    </div>

    <div class="container-form">
      <div class="overlay-form">
        <form (ngSubmit)="enviar(Mensaje)" #Mensaje="ngForm">
          <input
            name="name"
            #name="ngModel"
            [(ngModel)]="mensaje.name"
            type="text"
            placeholder="Nombre o Empresa"
            required
          />
          <input
            name="email"
            #email="ngModel"
            [(ngModel)]="mensaje.email"
            type="email"
            placeholder="E-mail"
            required
          />
          <input
            name="phone"
            #phone="ngModel"
            [(ngModel)]="mensaje.phone"
            type="text"
            placeholder="Teléfono (Opcional)"
          />
            <select
              name="reason"
              #reason="ngModel"
              [(ngModel)]="mensaje.reason"
              required
            >
            <option value="elige" hidden>Elige una opción     &#9207;</option>
              <option value="informacion">Información</option>
              <option value="presupuesto">Presupuesto</option>
              <option value="contratacion-empresa">
                Contratación para empresas
              </option>
              <option value="contratacion-particular">
                Contratación para particulares
              </option>
            </select>

          <textarea
            name="msg"
            #msg="ngModel"
            [(ngModel)]="mensaje.msg"
            rows="10"
            placeholder="Escribe aquí tu mensaje..."
            required
          ></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="thanks-modal-overlay" id="thanksModal">
    <div class="wrap">
      <div class="modal-content">
        <div class="close-button" (click)="closeThanksModal()" >
          <span>X</span>
        </div>
        <h4>¡Tu mensaje ha sido enviado con éxito!</h4>
        <h3>Gracias por rellenar el formulario</h3>
        <p> He recibido tu solicitud y me pondré en contacto contigo lo antes
          posible. </p>
        
        <p>Se ha enviado una confirmación a tu dirección de correo
          electrónico. Si no ves el correo en tu bandeja de entrada, por favor
          revisa tu carpeta de spam o correo no deseado.</p>
        
        <p>Gracias por tu interés y confianza</p>

    </div>
  </div>
</div>
