.container {

  & .wrap {
    & .container-main {
      display: flex;
      justify-content: space-between;

      & .leftside {
        width: 40%;
        display: flex;
        flex-direction: column;

        & a {
          width: 80%;
          padding: 2rem;
          border: 1px solid white;
          border-radius: 30px;
          font-size: 1rem;
          font-weight: 600;
          background-color: rgba(255, 255, 255, 0.49);
          margin-bottom: 2rem;
          text-align: center;

          &:hover{
            transform: scale(0.99);
            cursor: pointer;
          }
        }
      }

      & .rightside {
        width: 58%;
      }
    }
  }
}

@media (max-width: 768px){
.container{
  & .wrap{
    & .container-main{
      flex-direction: column;

      & .leftside, .rightside{
        width: 100%;

        & a{
          font-size: .8rem;
        }
      }
    }
  }
}
}
