<div class="container">
  <div class="wrap">
    <div class="container-main">
      <div class="leftside">
        <a
          href="../../../assets/public/pdf/CP_SINTEL.pdf"
          download="CV_VictorFernandez.pdf"
          >Carta de presentación - Descargar en PDF</a
        >
        <a
          href="../../../assets/public/pdf/CV_SINTEL.pdf"
          download="CV_VictorFernandez.pdf"
          >Currículum - Descargar en PDF</a
        >
      </div>
      <div class="rightside">

      </div>
    </div>
  </div>
</div>
