<div class="container">
  <div class="wrap">
    <div class="container-main">
      <div class="contact">
        <h5>Contacto</h5>
        <p>vicbolt.madrid&#64;gmail.com</p>
        <p>Malasaña, Madrid. 28004</p>
      </div>

      <div class="rrss">
        <a href="www.linkedin.com/in/victor-fernandez-design">
            <img src="../../../assets/public/images/icons/rrss/linkedin.png" alt="Icono linkedin">
        </a>

        <a href="https://www.youtube.com/@victorfernandez163">
          <img src="../../../assets/public/images/icons/rrss/youtube.png" alt="Icono Youtube">
      </a>
      </div>
    </div>

    <div class="derechos">
      <p>&copy; 2024 Víctor Fernández. <br> Todos los derechos reservados.</p>
    </div>
  </div>
</div>
