<div class="container" id="header">
    <div class="wrap">
        <div class="nav">
            <a href="#aboutme">Sobre mí</a>
            <a href="#skills">Skills</a>
            <a href="#experience">Experiencia</a>
            <a href="#studies">Formación</a>
            <a href="#contact">Contacto</a>
        </div>
    </div>
</div>


<div class="hamburger-menu" (click)="toggleMobileNav()">
    <div class="hamburger" [ngClass]="{ 'active': isMobileNavOpen }">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="overlay" *ngIf="isMobileNavOpen" (click)="closeMobileNav()"></div>
    <div class="mobile-nav" [ngClass]="{ 'active': isMobileNavOpen }">
        <a href="#aboutme">Sobre mí</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experiencia</a>
        <a href="#studies">Formación</a>
        <a href="#contact">Contacto</a>
    </div>
</div>