.container {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.container .container-main {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  background: rgba(255, 255, 255, 0.599);
  padding: 4rem;
  border-radius: 30px;
  box-sizing: border-box;
}
.container .container-main .leftside {
  width: 60%;
}
.container .container-main .leftside h4 {
  font-weight: 900;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}
.container .container-main .leftside p {
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.2rem;
}
.container .container-main .rightside {
  width: 35%;
  display: flex;
  justify-content: center;
  position: relative;
}
.container .container-main .rightside .img {
  position: absolute;
  width: 100%;
  top: -26%;
  z-index: 0;
}
.container .container-main .rightside .img img {
  width: 170%;
}

@media (max-width: 2000px) {
  .container .container-main {
    flex-direction: column-reverse;
  }
  .container .container-main .rightside .img {
    position: absolute;
    width: 100%;
    transform: translateX(181%) translateY(-30%) scale(1.5);
    z-index: 9;
  }
  .container .container-main .rightside .img img {
    width: 100%;
  }
  .container .container-main .leftside {
    width: 100%;
  }
  .container .container-main .leftside .title {
    width: 60%;
  }
  .container .container-main .leftside .text {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container .container-main {
    flex-direction: column-reverse;
  }
  .container .container-main .rightside .img {
    position: absolute;
    width: 100%;
    transform: translateX(201%) translateY(-15%) scale(2);
    z-index: 9;
  }
  .container .container-main .rightside .img img {
    width: 100%;
  }
  .container .container-main .leftside {
    width: 100%;
  }
  .container .container-main .leftside .title {
    width: 60%;
  }
  .container .container-main .leftside .text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .container .container-main {
    flex-direction: column-reverse;
    padding: 2rem;
  }
  .container .container-main .leftside {
    width: 100%;
  }
  .container .container-main .leftside .title {
    width: 60%;
  }
  .container .container-main .leftside .title h4 {
    font-size: 2rem !important;
  }
  .container .container-main .leftside .text {
    width: 100%;
  }
  .container .container-main .leftside .text p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .container .container-main .rightside {
    width: 100%;
    margin-top: 2rem;
    position: relative;
  }
  .container .container-main .rightside .img {
    position: absolute;
    width: 100%;
    transform: translateX(37%) translateY(-46%) scale(0.7);
    z-index: 9;
  }
  .container .container-main .rightside .img img {
    width: 100%;
  }
}