<div class="container" id="aboutme">
  <div class="wrap">
    <!-- <h3 class="title">Sobre Mí</h3> -->

    <div class="container-main">
      <div class="leftside">
        <h4>Diseño con propósito,</h4>
        <h4>impacto con visión.</h4>

        <p>
          Soy Víctor, un desarrollador Full-Stack de 31 años viviendo en Madrid,
          especializado en el desarrollo Front-End. Mi formación y experiencia
          me han permitido adquirir sólidos conocimientos en HTML, CSS y
          JavaScript, así como en diversas herramientas de diseño.
        </p>

        <p>
          Mi verdadera realización proviene de la creación de sitios web que no
          solo son atractivos, sino también intuitivos y fáciles de usar.
          Siempre comprometido con el diseño funcional y estético, con el
          objetivo de mejorar la experiencia del usuario. Un buen diseño no solo
          debe verse bien, sino también servir un propósito claro y mejorar la
          usabilidad.
        </p>

        <p>
          Mi misión es transformar ideas en experiencias digitales
          excepcionales, combinando creatividad y funcionalidad para ofrecer
          soluciones que realmente marquen la diferencia.
        </p>
      </div>

      <div class="rightside">
        <div class="img">
          <img
            src="../../../assets/public/images/pics/mockup_movil.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
