<div class="container">
    <div class="wrap">
        <img src="../../../assets/public/images/pics/studio/1.jpeg" alt="">
          <img src="../../../assets/public/images/pics/studio/2.jpeg" alt="">
          <img src="../../../assets/public/images/pics/studio/3.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/5.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/4.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/6.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/7.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/8.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/9.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/10.jpg" alt="">
          <img src="../../../assets/public/images/pics/studio/11.webp" alt="">
    </div>
</div>
