<div class="container"> 
    <div class="leftside">
        <img src="../../../assets/public/images/pics/foto_principal.jpeg" alt="">
    </div>

    <div class="rightside">
        <p class="name">Víctor Fernández</p>
        <p class="subname">Diseñador Web, UX/UI</p>
        <p class="ref">REF: 11/11/1992</p>

        <div class="container-send">
            <img class="icon-camion" src="../../../assets/public/images/icons/camion.png" alt="">
            <p class="available">Disponibilidad inmediata</p>
        </div>

        <div class="container-buttons">
            <p class="amount">- 1 +</p>
            <p class="cta">Pedir ahora</p>
        </div>
    </div>
</div>