<div class="container">
    <div class="wrap">
      <div class="ring-container">
        <div>
          <div class="card card-1">
            <img
              src="../../../assets/public/images/icons/programs_white/ps.png"
              alt="Icono Adobe Photoshop"
            />
            <p class="title">Photoshop</p>
          </div>
          <div class="card card-2">
            <img
              src="../../../assets/public/images/icons/programs_white/premiere.png"
              alt="Icono Adobe Premiere"
            />
            <p class="title">Premiere</p>
          </div>

          <div class="card card-3">
            <img
              src="../../../assets/public/images/icons/programs_white/procreate.png"
              alt="Icono procreate"
            />
            <p class="title">ProCreate</p>
          </div>
          
          <div class="card card-4">
            <img
              src="../../../assets/public/images/icons/programs_white/trello.png"
              alt="Icono trello"
            />
            <p class="title">Trello</p>
          </div>

          <div class="card card-5">
            <img
              src="../../../assets/public/images/icons/programs_white/figma.png"
              alt="Icono Figma"
            />
            <p class="title">Figma</p>
          </div>

          <div class="card card-6">
            <img
              src="../../../assets/public/images/icons/programs_white/canva.png"
              alt="Icono Canva"
            />
            <p class="title">Canva</p>
          </div>
  
          <div class="title">
            <h2>Programas <br> de diseño</h2>
            <p>Con los que realizo mis proyectos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  