<div class="container" id="experience">
  <div class="wrap">
    <div class="center">
      <div class="line"></div>
    </div>
    <div class="container-webdesign">
      <div class="leftside">
        <div class="web-design">
          <h3>Diseño Web (2017-2024)</h3>
          <p>
            Mi experiencia laboral ha estado siempre ligada al diseño web, pero
            fue en 2021, tras completar un máster en programación y diseño web
            en la escuela CICE, cuando descubrí mi verdadera vocación. A lo
            largo de mi carrera, he adquirido las habilidades necesarias para
            ofrecer servicios profesionales y personalizados a cada cliente.
            Anteriormente, trabajé como diseñador web en Grupo Financiero 10,
            donde desarrollé páginas web para la captación de clientes y
            gestioné todas las tareas de diseño del CRM utilizado por
            trabajadores, clientes y colaboradores.
          </p>
        </div>
      </div>

      <div class="rightside">
        <div class="websites">
          <a target="_blank" href="https://grupofinanciero10.com/">Grupo Financiero 10</a>
          <a target="_blank" href="https://iberoestate.com/">Iberoestate</a>
          <a target="_blank" href="https://dreamskey.es/">Dreamskey</a>
          <a target="_blank" href="https://hipotecas100.org/">Hipotecas 100</a>
          <a target="_blank" href="https://hipotecaextranjeros.es/">Hipotecas Extranjeros</a>
          <a target="_blank" href="https://hipotecaempleadospublicos.com/">Hipotecas Empleados Públicos</a>
          <a target="_blank" href="https://victormenta25.wixsite.com/divichungas" >Divichungas</a>
          <a target="_blank" href="">Rosana Calvo Psicología (En proceso)</a>
          <a target="_blank" href="">Chips's (En proceso)</a>
          <a target="_blank" href="">7 Pecados Hamburguesería (En proceso)</a>
          <a target="_blank" href="">Nacho Martín Fotografía (En proceso)</a>
        </div>
      </div>
    </div>

    <div class="container-photography">
      <div class="leftside">
        <div class="photography">
          <h3>Fotografía y Vídeo (2016-2020)</h3>
          <p>
            Tras finalizar los estudios de "Realización de audiovisuales y
            proyectos escénicos", me embarqué junto a una compañera en un
            proyecto para ofrecer nuestros servicios. Durante esta temporada,
            estuvimos realizando books de fotos profesionales en estudio, así
            como enmarcando eventos de bodas, comuniones y graduaciones. Mis
            funciones principales eran la realización de la fotografía así como
            la edición/presentación de las mismas y página web del proyecto.
          </p>
          <span class="link">
            <p (click)="openModal()">Abrir galería →</p>
          </span>
        </div>
      </div>

      <div class="rightside">
        <div class="tattoo">
            <h3>Tattoo Artist (2017-2023)</h3>
            <p>
              Debido a mis inquietudes por aprender nuevas técnicas y
              conocimientos, llegué a través de un hobby a profesionalizarme y
              trabajar como artista tatuador. Este proyecto cambió mi vida ya que
              me trasmitió muchos conocimientos sobre la comprensión al plasmar
              las ideas del cliente a un lienzo, así como tablas a la hora de
              comunicarme, precisión, organización y atención a los más minimos
              detalles bajo la presión de plazos de tiempo estimados y hacer el
              trabajo siendo meticuloso sin posibilidad de error.
            </p>
  
            <a target="_blank" href="https://www.instagram.com/vicbolt.tattoo/">
              <p>Visitar Instagram →</p>
            </a>
          </div>
      </div>
    </div>
  </div>

  <div class="modal-overlay" id="modalGallery">
    <div class="wrap">
      <div class="modal-content">
        <div class="close-button">
          <p (click)="closeModal()">Cerrar X</p>
        </div>
        <div class="gallery">
          <img src="../../../assets/public/images/pics/studio/1.jpeg" alt="" />
          <img src="../../../assets/public/images/pics/studio/2.jpeg" alt="" />
          <img src="../../../assets/public/images/pics/studio/3.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/5.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/4b.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/4.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/6.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/7.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/11.webp" alt="" />
          <img src="../../../assets/public/images/pics/studio/9.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/3b.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/10.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/8.jpg" alt="" />
          <img src="../../../assets/public/images/pics/studio/12.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/13.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/14.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/17.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/22.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/20.png" alt="" />
          <img src="../../../assets/public/images/pics/studio/21.png" alt="" />

          <iframe
            src="https://www.youtube.com/embed/OGQs7p3LA6A?si=fQQP5nR0h9vM7OYb&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/VOtM0dckVSc?si=kcDesQUgepqZd3hv&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/PXG-LN52cXs?si=pEzUM4i8FbWwtuaJ&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/T4ICEdlSxp0?si=iVBtk7hssFX3HleT&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
